---
BasedOnStyle: Google
Language: Cpp
ColumnLimit: 100
IndentWidth: 2
AccessModifierOffset: -1
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*>'
    Priority: 1
  - Regex: '^".*"'
    Priority: 2
SortIncludes: CaseSensitive
---
Language: Proto
BasedOnStyle: Google
